
@media screen and (max-width: 768px) {
	.mobile-hide{
	display:none;
	}
.mail-div{
padding-top:100px;
padding-left:30px;
}
    .external-link {} .menu-offset {
        left: 0;
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed;
    }
   
  
    .sidebar-animate {
        left: -251px;
    }
	.
    .side-bar-border {
	
        width: 100vw;
        padding-right: 56px;
		position:fixed;
		z-index:14;
		background:none;
		height:100vh;
		padding-bottom:0px;
    }
 

	.circle-hole{
	position:fixed;
	}
	.circle-hole-border{
	position:fixed;
	}
	.button-list{
	bottom:0px;

	right:0px;
	}
	
	
.content-container {
top:0vh;
width:100vw !important; 
 left:0px;
 top:0px;
 }
.menu-out {
 
    left: 100vw !important;
		margin-left:-60px;
}
.header{
height:50px !important;
}
.sidebar-out {

		transform: translate(251px, 0);
	}
.container-out { 
	left: 100vw !important;

}
.header-body-text{

width:none;	
}
.header-body{
font-size:40px;
color:white;
}
.text-body{
margin-bottom:0px;
width:100vw;
padding:0;
padding-left:10px;
}
.notice{
color:#23527c !important;
}
.mail-div{
padding-left:5px;
}
.message{
font-size:22px;
}
.form {
font-size:22px !important;
}
.send-button{
margin-right:30px;
}
.header-fixed{
height:50px !important;
}
.navbar-toggle{
margin-top:5px !important;
}
}