/*
Color Pallete
Background : #00BCD4
Color : #009688
Highlight : #26C6DA
layer 1 : #4FC3F7
layer 2 : #29B6F6
layer 3: #03A9F4

all generic modifications are listed at the top of the file 
Ordered based on function and use and alphabetical order
 ie: section classes buttons, paragraph, image are grouped together
 ie: header classes buttons, images, 
 ie: sidebar classes list items 
 
*/
body {
/* Image taken from nasa pictures (public domain)
http://apod.nasa.gov/apod/ap150617.html 
*/
    background: url('../../images/m45_lorenzi_3832.jpg') no-repeat center center fixed;
    background-size: cover;
}
textarea:focus,
input:focus {
    outline: 0;
}
textarea:focus {
    outline-color: transparent;
    outline-style: none;
}
a {
    text-decoration: none !important;
}
a:focus,
a:hover {
    color: inherit;
}
html {
    overflow-y: scroll;
}
.side-item-style:hover {
    background: #ddd !important;
}
.paragraph-style {
    color: #141414;
    line-height: 1.2ems;
    font-size: 16px;
    font-weight: 100;
    padding: 0px;
    margin: auto;
    text-align: left;
    max-width: 668px;
}
.row {
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0;
}
.bs-sidebar .nav > .active > ul {
    margin-bottom: 8px;
}
.background-image {
    background-image: url('sea2.jpg');
    background-size: 100vh 100vw;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.text-body {
    width: 100%;
    margin-bottom: 0px;
    font-size: 20px;
    color: black;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-font-smoothing: antialiased;
    line-height: 32px;
}
.side-bar-style {
	overflow:auto;
    border-top: 5px solid hsl(180, 40%, 40%);
    position: fixed;
    background: white;
    width: 250px;
    font-family: font-family: 'Roboto', sans-serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    vertical-align: middle;
    z-index: 10;
    box-shadow: 4px 0px 1px RGBA(0, 0, 0, .2);
    /*border-left:6px solid #45ABCD;*/
}
.hide {
    z-index: 0 !important;
}
.offclick {
    z-index: 31;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0
}
.close-menu {
    position: fixed;
    height: 0px;
    width: 0px;
    z-index: 31;
}
.close-full-size {
    height: 100vh;
    width: 100vw;
    z-index: 31;
}
.side-bar-border {
    z-index: 33;
    padding-right: 1px;
    padding-bottom: 1px;
    position: fixed;
    display: inline-block;
    background: RGBA(250, 250, 250, 1);
    transition: scaleX(1);
    height: 100vh;
    background: none;
    left: -251px;
}
.side-item-style {
    text-align: left;
}
.side-item-style:hover {
    background: #ddd;
}
.portrait {
    margin: 25px;
    margin-left: 75px;
    position: relative;
    z-index: 10;
    background: #ddd;
    box-shadow: inset 5px 5px 1px #999;
    border-radius: 125px;
    width: 100px;
    height: 100px;
}
.page-font {
    color: #141414;
    font-family: font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}
.header-div {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    color: #fff;
}
.header-body-text {
    overflow: hidden;
    background:none;
    color: #EEE;
	text-align:center;
    padding: 10px;

}
.menu-offset {
    left: 250px;
}
.header-fixed{
position:fixed !important;
height:77px !important;
z-index:31 !important;
font-size:2em !important;
}
.header-style {
    width: 100%;
    height: 70px;
    z-index: 29;
    /*   background: rgb(67, 67, 72);*/
    
    position: absolute;
    font-size: 3em;
   /* text-shadow: 1px 0px 0 #BBB;*/
    text-align: center;
    background-size: cover;
    color: black;
}
.circle-hole {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 150px;
    z-index: 15;
    background: -webkit-radial-gradient(50% 50%, circle, transparent 49px, RGBA(250, 250, 250, .5) 10%);
    background: -moz-radial-gradient(50% 50%, circle, transparent 49px, #fff 10%);
    background: radial-gradient(50% 50%, circle, transparent 49px, #fff 10%);
}
.material-animation {
    -webkit-transition: all .25s ease-in-out !important;
    -moz-transition: all .25s ease-in-out !important;
    -o-transition: all .25s ease-in-out !important;
    transition: all .25s ease-in-out !important;
}
.circle-button {
    width: 70px;
    height: 70px;
    font-size: 3em !important;
    background: #03A9F4;
    color: white !important;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    display: table;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 8px 13px RGBA(0, 0, 0, .3);
}
.circle-button:hover {
    background: #009688;
    color: white
}

.material-button {
	margin:15px;
	padding:15px;
    background: white;
    border: none;
    border-radius: 5px;
    -webkit-transition: all .25s ease-in-out !important;
    -moz-transition: all .25s ease-in-out !important;
    -o-transition: all .25s ease-in-out !important;
    transition: all .25s ease-in-out !important;
}
.btn-header-pos {
    padding-top: 12px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-border-one {
    border-top: 0px solid #067BAE;
}
.btn-border-two {
    border-top: 0px solid #00BF59;
}
.btn-header-font {
    font-size: 2em;
    font-weight: bold;
    line-height: 0
}
.btn-default {
    border-radius: 3px;
    box-shadow: none;
    color: white;
    text-shadow: none;
    /* box-shadow: 0px 2px 1px 2px RGBA(0, 0, 0, .3);*/
    transition: box-shadow .1s;
    border: 0px solid RGBA(250, 250, 250, .6) !important;
}
.circle-button span {
    display: table-cell;
    vertical-align: middle;
}
.material-flat{
	 font-family: font-family: 'Roboto', sans-serif;
    background: white;
    border: none;
    font-size: 20px;
	padding:15px;
    color: #009688;
}
.material-button:hover {
   
    border: 0px solid RGBA(250, 250, 250, .1) !important;
    /* box-shadow: 0px 10px 5px 5px RGBA(0, 0, 0, .3);*/
}
.btn-two {
    background: none !important;
    /* background: #19CF61;*/
}
.btn-two:hover {
    /*background:none !important;*/
    
    background: #141414;
    border: 0px solid #00BF59;
}
.btn-one {
    background: #40A0CA;
    background: none !important;
}
.btn-one:hover {
    background: #067BAE;
    border: 0px solid #067BAE;
}
.options-toggle {
    background: #ddd;
    border: 0px solid #ddd;
    border-radius: 5px;
    color: white;
}
.pulse-loader{
	    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    z-index: 5;
    overflow: hidden;
}
.close-not{
	cursor:pointer;
	float:right;
	vertical-align:middle;
	color:white;
	line-height:35px;
}
.header-fa{
	font-size:14px;
	line-height:42px;
	vertical-align:middle;
}
.header-style .header-div .header-small{
	display: inline-block;
    padding-right: 15px;
    padding-left: 70px;
	padding-top:3px;
	padding-bottom:3px;
    float: left;
	margin-top:15px;
    margin-left: 15px;
    background: rgb(40, 40, 40);
	border:1px solid #ddd;
	/*box-shadow:4px 8px 3px RGBA(0,0,0,.2);*/
}
.content-container {
    left: 270px;
    top: 150px;
    margin: auto;
    width: 760px;
    position: relative;
    color: rgb(67, 67, 72);
    font-size: 2em;
}
.active {
    background: #ddd !important;
}
.header-text-container{
	position:fixed;
	top:0px;
	z-index:27;
	background:#009688;
	width:400px;
	height:65px;
	margin-left:50%;
	left:-200px;
 box-shadow: 0px 5px 2px RGBA(0, 0, 0, .2);
}
.header {
   /** / width: 400px;
	margin-left:50%;
	left:-200px;
    height: 77px;
	/**/
	width:100%;
	
    background: #29B6F6;
    box-shadow: 2px 2px 2px RGBA(0, 0, 0, .4);
    position: fixed;
    z-index: 28;
	 top:-77px;
}
.header-down{
transform:translate3d(0px, 77px, 0);
transform:-webkit-translate3d(0px, 77px, 0);
transform:-moz-translate3d(0px, 77px, 0);
transform:-o-translate3d(0px, 77px, 0);
transform:-ms-translate3d(0px, 77px, 0);
}
.navbar-toggle {
    padding	: 0;
    display: initial;
    z-index: 33;
    position: fixed !important;
    margin: none !important;
    margin-top: 20px;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.navmenu-button:hover {
    background: #009688;
	box-shadow:3px 3px 3px RGBA(0,0,0,.2);
}
.navmenu-button:hover span {
    background: white;
	box-shadow:3px 3px 3px RGBA(0,0,0,.2);
}

.navmenu-button {
    background: none;
    border-radius: 0px;
	margin-top:8px;
    display: inline-block;
    padding: 10px;
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    -o-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}
.mobile-stripe {
    text-align: center;
    width: 100%;
    color: #ecf0f1;
   /* text-shadow: 3px 0 1px RGBA(0, 0, 0, .3);*/
}
.icon-bar {
	
    width: 100%;
    display: block;
    height: 10px;
    background: RGBA(0, 0, 0, .6);
    -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    -o-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}
.button-list {
    right: 0px;
    bottom: 0px;
    position: absolute;
    padding-left: 4px;
    padding-bottom: 38px;
    z-index: 32;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.fast-animate{

    -webkit-transition: all .3s ease-in-out !important;
    -moz-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
}
.menu-animate {
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.sidebar-animate {
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.sidebar-out {
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.content-animate {
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.nav-animate {
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.text-animate {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 5s ease-in-out !important;
    -moz-transition: all 5s ease-in-out !important;
    -o-transition: all 5s ease-in-out !important;
    transition: all 5s ease-in-out !important;
}
.active {
    background: #ddd;
    color: #23527c;
}
.content-container {
    margin-top: 100vh;
    top: 0px;
}
.mobile-stripe {
    text-align: center;
    width: 100vw;
    color: #ecf0f1;
}
.header-style {
    background: none;
    display: table;
    height: 100%;
   
}
.header-div {
    display: table-cell;
    padding: 0;
    left: 0px;
    background: none;
}
.top-offset{
height:100%;
width:100%;
background:none;
}
.sect-style {
    min-height: 100vh;
    background: #fff;
   }
.circle-hole-border {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 73px;
    margin-top: 22px;
    width: 105px;
    height: 105px;
    z-index: 15;
    background: -webkit-radial-gradient(50% 50%, circle, transparent 49px, RGBA(250, 250, 250, .5) 10%), background: blue;
    background: -moz-radial-gradient(50% 50%, circle, transparent 49px, #fff 10%), background: blue;
    background: radial-gradient(50% 50%, circle, transparent 49px, #fff 10%), background: blue;
    border: 4px solid #ddd;
    border-radius: 150px;
}
.header-body {
	position:relative;
	z-index:1;
	background:  #282828;
    box-shadow: 3px 3px 15px RGBA(0, 0, 0, .4);
}
.frame-open {} .mail {
    background: #009688 !important;
}
.bottom-bar {
	overflow:auto;
    position: absolute;
    bottom: 0px;
    height: 70px;
    background: #000;
    width: 100%;
    z-index: 26;
    font-size: 3em;
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    transform: scaleY(0);
    height: 100vh;
    transform-origin: center bottom;
}
.message-container{
	width: 300px;

    top: 0px;
    right: 0px;
    height: 300px;
	z-index:100;
    position: fixed;
	margin-top:10px; 
    height: auto;
	z-index:100;

}
.message-slideoff{
	transform:translate3d(300px, 0px, 0);
}
.message-notification{
	  -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    background: #009688;
	color:white;
    margin: 15px;
    width: 250px;
    font-size: 25px;
    padding: 5px;
	padding-left:15px;
    border: 1px solid #008577;
	box-shadow:2px 10px 3px RGBA(0,0,0,.2);
}
.send-button{
position:relative;
top:10px;
display:inline-block;
overflow:hidden;
margin-left:20px;
float:right;
margin-right:200px;
}
.mail-bottom-bar {
    height: 85px;
    width: 100%;
    background-color: #009688;
    bottom: 0;
    position: absolute;
    z-index: 27;
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.mail-bottom-height {
    transition: background-color 0.5s ease;
    background-color: #29B6F6;
    transform: scaleY(1);

}
.hidden{
	display:none;
}
.hidden-mail {
    opacity: 1 !important;
    visibility: visible !important;
}
.mail-open {
    transform: scaleY(1);
    background: white;
}
.mail-div {
	padding-top:100px;
	padding-bottom:80px;
	overflow:auto;
    -webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    opacity: 0;
    margin-bottom: 77px;
    visibility: hidden;
}
.mail-button-open {
    background: #009688;
    margin-bottom: 15px;
    background:
}
.message{
border:none;font-size:42px;padding:0;background:none;
}
.textarea-style {
    margin-left: 20px;
    margin-top: 20px;
    width: 80vw;
    border-bottom: 3px solid #009688;
}
.input-style {
    border: none;
    border-bottom: 3px solid #009688;
    margin-left: 20px;
    width: 80vw;
    background: none;
    margin-bottom:20px;
}
@-webkit-keyframes highlight {
    0% {
        background: none !important;
    }
    25% {
        background: none !important;
    }
    50`% {
        background: none !important;
    }
    75% {
        background: #ddd !important;
    }
    100% {
        background: none !important;
    }
}
@keyframes highlight {
    0% {
        background: none !important;
    }
    25% {
        background: none !important;
    }
    50`% {
        background: none !important;
    }
    75% {
        background: #ddd !important;
    }
    100% {
        background: none !important;
    }
}
.notice:target {
    animation: highlight 15s;
    -webkit-animation: highlight 15s;
    /* Chrome, Safari, Opera */
}
.stripe:hover{
	box-shadow:3px 3px 3px RGBA(0,0,0,.2);
}
.stripe{
	cursor:pointer;
	line-height:51px;
	background:none;
}
@media screen and (min-width: 768px) {
	.sidebar-buttons{
	position:absolute;
	bottom:0px;
	margin:20px;
	}
    .header-body {
        width: 100%;
        font-size: 40px;
        color: white;
    }
    .nav-out {
        transform: translate(260px, 0);
    }
    .text-body {
        margin-bottom: 0px;
        color: #eee;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 100px;
    }
    .navbar-toggle {
        margin-left: 100px;
    }
    .navmenu-button {
		cursor:pointer;
        z-index: 21;
		background:white;
        margin-left: -80px;
    }
    .menu-out {
        left: 0px !important;
    }
    .sidebar-out {
        transform: translate(251px, 0);
    }
    .side-bar-style {} .top-item {
        margin-top: 70px;
    }
    .mobile-stripe {
        margin-top: 50px;
    }
}
.pulse-loader:not(:required) {
  display: inline-block;
  width: 50px;
  height: 50px;
  -moz-animation: pulse-loader 0.7s linear infinite alternate;
  -webkit-animation: pulse-loader 0.7s linear infinite alternate;
  animation: pulse-loader 0.7s linear infinite alternate;
  border: 2px solid #009688;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 50px;
}

@-moz-keyframes pulse-loader {
  0% {
    -moz-box-shadow: #009688 0 0 0px 20px;
    box-shadow: #009688 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #009688 0 0 0px 25px inset;
    box-shadow: #009688 0 0 0px 25px inset;
  }
}
@-webkit-keyframes pulse-loader {
  0% {
    -webkit-box-shadow: #009688 0 0 0px 20px;
    box-shadow: #009688 0 0 0px 20px;
  }
  40% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: #009688 0 0 0px 25px inset;
    box-shadow: #009688 0 0 0px 25px inset;
  }
}
@keyframes pulse-loader {
  0% {
    -moz-box-shadow: #009688 0 0 0px 20px;
    -webkit-box-shadow: #009688 0 0 0px 20px;
    box-shadow: #009688 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #009688 0 0 0px 25px inset;
    -webkit-box-shadow: #009688 0 0 0px 25px inset;
    box-shadow: #009688 0 0 0px 25px inset;
  }

}

}

