/*
Color Pallete
Background : #00BCD4
Color : #009688
Highlight : #26C6DA
layer 1 : #4FC3F7
layer 2 : #29B6F6
layer 3: #03A9F4
*/
textarea:focus, input:focus{
    outline: 0;
}
body {
background:	background:rgb(67, 67, 72) !important;

}
a {
    text-decoration: none !important;
}
a:focus, a:hover{
color: #282828;
}

html{
 overflow-y: scroll;
}

.side-item-style:hover{
background:#ddd !important;
}
.paragraph-style{
color:#141414;line-height:1.2ems;font-size:16px;font-weight:100;padding:0px;margin:auto;text-align:left;
max-width:668px;
}
.row{
padding-top:75px;
padding-bottom:75px;
margin:0;
}
 .bs-sidebar .nav > .active > ul {
    margin-bottom: 8px;

	
}

.background-image{
background-image:url('sea2.jpg');
background-size: 100vh 100vw;
background-repeat:no-repeat;
width:100%;
height:100%;
position:absolute;
left:0;
top:0;
}
.text-body{
width:100%;

margin-bottom:0px;
 font-size:20px;color:black;  
 display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
    -webkit-font-smoothing: antialiased;
	line-height: 32px;
}
.side-bar-style {
border-top:5px solid hsl(180, 40%, 40%);
    position: fixed;
    background: white;
   
    width: 250px;
    font-family: font-family: 'Roboto', sans-serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    vertical-align: middle;
    z-index: 10;
	box-shadow:4px 0px 1px RGBA(0,0,0,.2);
	
/*border-left:6px solid #45ABCD;*/
	
}
.side-bar-border {
z-index:20;
    padding-right: 1px;
    padding-bottom: 1px;
    position: fixed;
    display: inline-block;
    background: RGBA(250,250,250,1);
	
	left:0px;
}
.side-item-style {
    text-align: left;
}
.side-item-style:hover{
background:#ddd;

}
.portrait {
    margin: 25px;
    margin-left: 75px;
    position: relative;
    z-index: 10;
    background: #ddd;
    box-shadow: inset 5px 5px 1px #999;
    border-radius: 125px;
    width: 100px;
    height: 100px;
}
.page-font {
    color: #141414;
    font-family: font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}
.header-div {
    height: 100%;
	width:100%;
    position: relative;
    top: 0px;   
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    color: #fff;

}
.header-body-text{
	overflow:hidden;
background:#009688	;
color:#EEE;

padding:10px;
padding-left:80px;
}
.menu-offset {
    left: 250px;
}
.header-style {

    width: 100%;
    height: 70px;
    z-index: 11;
 /*   background: rgb(67, 67, 72);*/
    position: relative;
    font-size: 3em;
    text-shadow: 1px 0px 0 #BBB;
    text-align: center;
    background-size: cover;
    color: black;
}
.bottom-bar{
position:absolute;bottom:0px;height:77px;background:#fff;width:100%;z-index:12;font-size:3em;
	-webkit-transform: translateZ(0);
	-webkit-transition: all .5s ease-in-out !important;
        -moz-transition: all .5s ease-in-out !important;
        -o-transition: all .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;	
}
.circle-hole {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 150px;
    z-index: 15;
    background: -webkit-radial-gradient(50% 50%, circle, transparent 49px, RGBA(250,250,250,.5) 10%);
    background: -moz-radial-gradient(50% 50%, circle, transparent 49px, #fff 10%);
    background: radial-gradient(50% 50%, circle, transparent 49px, #fff 10%);
}
.material-animation{
  -webkit-transition: all .25s ease-in-out !important;
    -moz-transition: all .25s ease-in-out !important;
    -o-transition: all .25s ease-in-out !important;
    transition: all .25s ease-in-out !important;

}
.circle-button{
	width: 70px;
	height: 70px;
		font-size:3em !important;
	background: #03A9F4;
	color:white;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
	border-radius: 70px;
    display:table;
	vertical-align:middle;
    text-align:center;
	box-shadow:0px 8px 13px RGBA(0,0,0,.3);
}
.circle-button:hover{
background:#009688;
color:white
}
.circle-hole-border {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 73px;
    margin-top: 22px;
    width: 105px;
    height: 105px;
    z-index: 15;
    background: -webkit-radial-gradient(50% 50%, circle, transparent 49px, RGBA(250,250,250,.5) 10%), background: blue;
    background: -moz-radial-gradient(50% 50%, circle, transparent 49px, #fff 10%), background: blue;
    background: radial-gradient(50% 50%, circle, transparent 49px, #fff 10%), background: blue;
    border: 4px solid #ddd;
    border-radius: 150px;
}
.material-button{
  -webkit-transition: all .25s ease-in-out !important;
    -moz-transition: all .25s ease-in-out !important;
    -o-transition: all .25s ease-in-out !important;
    transition: all .25s ease-in-out !important;
}
.btn-header-pos {
    padding-top: 12px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-border-one {
    border-top: 0px solid #067BAE;
	
}
.btn-border-two {
    border-top: 0px solid #00BF59;
}
.btn-header-font {
    font-size: 2em;
    font-weight: bold;
    line-height: 0
}
.btn-default {
border-radius:3px;

  
 box-shadow:none;
    color: white;
    text-shadow: none;
   /* box-shadow: 0px 2px 1px 2px RGBA(0, 0, 0, .3);*/
    transition: box-shadow .1s;
 border: 0px solid RGBA(250,250,250,.6) !important;
 
}
.circle-button span{
display:table-cell;
vertical-align:middle;
}
.material-button:hover {

background:#ddd !important;
  border: 0px solid RGBA(250,250,250,.1) !important;

   /* box-shadow: 0px 10px 5px 5px RGBA(0, 0, 0, .3);*/
}
.btn-two {
background:none !important;
   /* background: #19CF61;*/
}
.btn-two:hover {
/*background:none !important;*/
    background: #141414;
    border: 0px solid #00BF59;
}
.btn-one {
    background: #40A0CA;
	background:none !important;
}
.btn-one:hover {
    background: #067BAE;
    border: 0px solid #067BAE;
}
.options-toggle {
    background: #ddd;
    border: 0px solid #ddd;
    border-radius: 5px;
    color: white;
}
.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    z-index: 5;
    overflow: hidden;

}
.content-container {
 
 left:270px;
 top:150px;
 margin:auto;
 width:760px;
    position: relative;

	color:rgb(67, 67, 72);
    font-size: 2em;
}
.active {
    background: #ddd !important;
}
.navbar-toggle {
	padding-top:0;
	display:initial;
	position:fixed !important;
	z-index:15;
    margin: none !important;
    margin-top: 20px;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.mobile-stripe{
	text-align: center;
	width:100%;
	color: #ecf0f1;
	text-shadow:3px 0 1px RGBA(0,0,0,.3);
	}
.icon-bar {
    width: 100%;
    display: block;
    height: 10px;
    background: #141414;
	
	  -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    -o-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}
.button-list {
right:0px;
bottom:0px;
    position: absolute;

	padding-left:4px;
	padding-bottom:38px;
	z-index:100;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.navmenu-button:hover{
    background: #009688;
	
}
.navmenu-button:hover span{
background:white;

}
.navmenu-button {
	    background:white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
	  -webkit-transition: all .2s ease-in-out !important;
    -moz-transition: all .2s ease-in-out !important;
    -o-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
}
.menu-animate {
-webkit-transform: translateZ(0);
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}
.sidebar-animate{
-webkit-transform: translateZ(0);
		-webkit-transition: all .5s ease-in-out !important;
        -moz-transition: all .5s ease-in-out !important;
        -o-transition: all .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;
}
.sidebar-out{
-webkit-transform: translateZ(0);
	-webkit-transition: all .5s ease-in-out !important;
        -moz-transition: all .5s ease-in-out !important;
        -o-transition: all .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;
}
.content-animate{
-webkit-transform: translateZ(0);
	-webkit-transition: all .5s ease-in-out !important;
        -moz-transition: all .5s ease-in-out !important;
        -o-transition: all .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;
}
.nav-animate{
-webkit-transform: translateZ(0);
	-webkit-transition: all .5s ease-in-out !important;
        -moz-transition: all .5s ease-in-out !important;
        -o-transition: all .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;
}
.text-animate{

-webkit-transform: translateZ(0);
	-webkit-transition: all 5s ease-in-out !important;
        -moz-transition: all 5s ease-in-out !important;
        -o-transition: all 5s ease-in-out !important;
        transition: all 5s ease-in-out !important;
}
.active{
background:#ddd;
color:#23527c;
}

	
.content-container {
  margin-top: 100vh;

 top:0px;
 
 }
	 .mobile-stripe{
		text-align: center;
		width:100vw;
		color: #ecf0f1;
		}
	  .header-style {
	background:none;
        display: table;
        overflow: hidden;
        height: 100%;
		
    }
    .header-div {
        display: table-cell;
        padding: 0;
        left: 0px;
		background:none;
    }
	.sect-style{
	min-height:100vh;
	background:#fff;
	z-index:10;
	}
	td{
	line-height:1.5em;
	}
	.header-body{
	box-shadow:3px 3px 15px RGBA(0,0,0,.4);
	}
	.frame-open{
	
	}
	.hidden-mail{
	display:none;
	}
	.mail-open{
	height:100vh;
	background:white;
	}
	.mail-div{
	margin-bottom:77px;
	height:100%;

	}
	.mail-button-open{
	background:#009688;
	margin-bottom:15px;
	
	background:
	}
@media screen and (min-width: 768px) {
	.header-body{
	width:100%;
	font-size:40px;
	color:white;
	 
	}
	.nav-out{
	margin-left:330px !important;
	}
	.text-body{
	margin-bottom:0px;
	color:#eee;

	margin-bottom:0px;
	padding-bottom:0px;
	padding-left:100px;
	
	}
	.container-out{
	margin-left:250px;
	} 
	.navbar-toggle{
	 margin-left:80px;
	}
	.navmenu-button{
	z-index:21;
	margin-left:-80px;
	}

	.menu-out {
		left: 0px !important;
	}
	.sidebar-out {
		
		left: -251px !important;
	}
	.side-bar-style{

	}
	.top-item{
	margin-top:70px;
	}
	.mobile-stripe{
	margin-top:50px;
	}
}